# Токен бота, полученный у @BotFather
BOT_TOKEN="0000000000:XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

# ID канала/группы (с топиками), с которым работает бот.
# Всегда начинается с минуса, например -1001234567890
TELEGRAM_CHANNEL_ID="-1000000000000"
